/*---------------------
  Breadcrumb
-----------------------*/
.breadcrumb-section {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.breadcrumb__text {
    h2 {
        font-size: 32px;
        color: $white-color;
        font-weight: 600;
    }
}

.breadcrumb__option {
    a {
        color: $white-color;
    }

    span {
        display: inline-block;
        font-size: 16px;
        color: $white-color;
    }

    .breadcrumb{
        display: inline-block;
        background: unset;
        margin: 0;
        padding: 5px;
        .breadcrumb-item{
            display: inline-block;
            &.active{
                color: $primary-color;
            }
        }
    }
}
