/*---------------------
  Categories
-----------------------*/
.categories__item {
    height: 270px;
    position: relative;
    background: $background;
    h3 {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0 20px;
        bottom: 20px;
        text-align: center;
        span {
            font-size: 18px;
            color: $normal-color;
            font-weight: 700;
            text-transform: uppercase;
            letter-spacing: 2px;
            padding: 12px 0 10px;
            background: $white-color;
            display: block;
        }
    }
}

.categories__slider {
    .col-lg-3 {
        max-width: 100%;
    }
    &.owl-carousel {

        .owl-nav {

            button {
                font-size: 18px;
                color: $normal-color;
                height: 70px;
                width: 30px;
                line-height: 70px;
                text-align: center;
                border: 1px solid $border;
                position: absolute;
                left: 15px;
                top: 50%;
                -webkit-transform: translateY(-35px);
                background: $white-color;

                &.owl-next {
                    left: auto;
                    right: 15px;
                }
            }
        }
    }
}

/*---------------------
  Featured
-----------------------*/
.featured__controls {
    text-align: center;
    margin-bottom: 15px;
    ul {

        li {
            list-style: none;
            font-size: 18px;
            color: $normal-color;
            display: inline-block;
            margin-right: 25px;
            position: relative;
            cursor: pointer;

            &.active {

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                position: absolute;
                left: 0;
                bottom: -2px;
                width: 100%;
                height: 2px;
                background: $primary-color;
                content: '';
                opacity: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.featured__item {
    margin-bottom: 20px;
    &:hover {
        .featured__item__pic {
            .featured__item__pic__hover {
                bottom: 20px;
            }
        }
    }
}

.featured__item__pic {
    height: 270px;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background: $background-2;
    .spinner-border{
        height: 18px;
        width: 18px;
    }
}

.featured__item__pic__hover {
    position: absolute;
    left: 0;
    bottom: -50px;
    width: 100%;
    text-align: center;
    @include transition(all, .5s);
    li {
        list-style: none;
        display: inline-block;
        margin-right: 6px;
        span{
            cursor: pointer;
        }
        &:last-child {
            margin-right: 0;
        }

        &:hover {
            span {
                background: $primary-color;
                border-color: $primary-color;

                i {
                    color: $white-color;
                    transform: rotate(360deg);
                }
            }
        }

        span {
            font-size: 16px;
            color: $normal-color;
            height: 40px;
            width: 40px;
            line-height: 40px;
            text-align: center;
            border: 1px solid $border;
            background: $white-color;
            display: block;
            border-radius: 50%;
            @include transition(all, .5s);

            i {
                position: relative;
                transform: rotate(0);
                @include transition(all, .3s);
            }
        }
    }
}

.featured__item__text {
    text-align: center;
    .description{
        display: none;
    }
    h6 {
        margin-bottom: 5px;
        background: $background;
        min-height: 45px;
        > div:nth-child(2){
            border-left: 1px $border solid;
        }
        > div {
            padding-top: 3px;
        }
    }
    h5 {
        color: $white-color;
        font-weight: 700;
        background: $primary-color;
        padding-top: 8px;
        padding-bottom: 5px;
    }
}

.banner{
    img{
        width: 100%;
    }
    .banner__info{
        position: absolute;
        top: 30%;
        left: 52%;
        width: 45%;
        background: $background;
        border-radius: 10px;
        padding: 10px;
        opacity: 0.7;
        box-shadow: 1px 1px 1px 1px $primary-color
    }
    h3{
        font-weight: bold;
        color: $primary-color;
    }
    h6{
        color: $black-color;
    }
}

/*---------------------
  Latest Product
-----------------------*/
.latest-product {
    padding-top: 60px;
    padding-bottom: 0;
}

.latest-product__text {
    h3 {
        font-weight: 700;
        color: $normal-color;
        margin-bottom: 15px;
        font-size: 24px;
    }
}

.latest-product__slider {
    &.owl-carousel {
        .owl-nav {
            position: absolute;
            right: 0;
            top: -45px;

            button {
                height: 30px;
                width: 30px;
                background: #F3F6FA;
                border: 1px solid #e6e6e6;
                font-size: 14px;
                color: #636363;
                margin-right: 10px;
                line-height: 0;
                text-align: center;

                span {
                    font-weight: 700;
                }

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}

.latest-product__item {
    margin-bottom: 16px;
    overflow: hidden;
    display: block;
    background: $background;
}

.latest-product__item__pic {
    float: left;
    margin-right: 10px;
    img {
        height: 100px;
        width: 100px !important;
    }
}

.latest-product__item__text {
    overflow: hidden;
    padding-top: 3px;
    height: 100px;
    h6 {
        color: $heading-color-2;
        margin-bottom: 1px;
        font-weight: 600;
    }
    span {
        font-size: 13px;
        display: block;
        color: $normal-color;
    }
}

/*---------------------
  Form BLog
-----------------------*/
.from-blog {
    .blog__item {
        margin-bottom: 30px;
    }
}

.from-blog__title {
    margin-bottom: 40px;
}

.product__item__price {
    height: 45px;
    width: 100%;
    overflow: hidden;
    transition: .3s;
    .price {
        font-size: 18px;
    }
    .price_root{
        text-decoration: line-through;
    }
}

.product__item__price.hide {
    background: $border;
    width: 30px;
    cursor: pointer;
    .price,.price_root{
        font-size: 0;
    }
    .price-title{
        font-size: 0;
    }
    &::before{
        content: "\f0c9";
        font-family: 'FontAwesome';
        top: 10px;
        position: relative;
        color: $primary-color;
    }
}
.cart-container{
    .popover{
        min-width: 900px;
        margin-right: 10%;
    }
}
.my-cart{
    img{
        width: 60px;
        border: 1px #ccc solid;
    }
}
