/*---------------------
  Shop Cart
-----------------------*/
.shoping-cart {
    padding-top: 30px;
    padding-bottom: 30px;
}

.shoping__cart__table {
    margin-bottom: 20px;
    table {
        width: 100%;
        text-align: center;
        thead {
            tr {
                border-bottom: 1px solid $border;
            }
            th {
                font-size: 18px;
                font-weight: 700;
                color: #fff;
                padding: 10px 0;
                text-transform: uppercase;
                &.shoping__product {
                    text-align: left;
                }
            }
        }

        tbody {

            tr {

                td {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $border;
                    &.shoping__cart__item {
                        width: 430px;
                        text-align: left;
                        img {
                            display: inline-block;
                            margin-right: 25px;
                            width: 70px;
                            border: 1px $border solid;
                        }

                        h5 {
                            color: $normal-color;
                            display: inline-block;
                        }
                    }

                    &.shoping__cart__price {
                        font-size: 18px;
                        color: $normal-color;
                        font-weight: 700;
                        width: 100px;
                    }

                    &.shoping__cart__total {
                        font-size: 18px;
                        color: $normal-color;
                        font-weight: 700;
                        width: 150px;
                    }

                    &.shoping__cart__item__close {
                        text-align: right;
                        span {
                            font-size: 24px;
                            color: #b2b2b2;
                            cursor: pointer;
                        }
                    }

                    &.shoping__cart__quantity {
                        width: 225px;
                        .pro-qty {
                            width: 120px;
                            height: 40px;

                            input {
                                color: $normal-color;

                                &::placeholder {
                                    color: $normal-color;
                                }
                            }

                            .qtybtn {
                                width: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.primary-btn.cart-btn {
    color: $para-color;
    padding: 14px 30px 12px;
    background: $background;

    span {
        font-size: 14px;
    }

    &.cart-btn-right {
        float: right;
    }
}

.shoping__continue {}

.shoping__discount {
    margin-top: 45px;

    h5 {
        font-size: 20px;
        color: #1c1c1c;
        font-weight: 700;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    form {

        input {
            width: 255px;
            height: 46px;
            border: 1px solid #cccccc;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 30px;
            display: inline-block;
            margin-right: 15px;

            &::placeholder {
                color: #b2b2b2;
            }
        }

        button {
            padding: 10px 30px;
            font-size: 18px;
            letter-spacing: 2px;
            background: #6f6f6f;
            height: 47px;
            font-family: monospace;
            font-weight: 900;
        }
    }
}

.shoping__checkout {
    background: $background;
    padding: 20px;
    margin-top: 20px;
    h5 {
        color: $normal-color;
        font-weight: 700;
        font-size: 20px;
        margin-bottom: 15px;
    }
    ul {
        margin-bottom: 15px;
        li {
            font-size: 16px;
            color: $normal-color;
            font-weight: 700;
            list-style: none;
            overflow: hidden;
            border-bottom: 1px solid $border;
            padding-bottom: 5px;
            margin-bottom: 5px;

            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
                margin-bottom: 0;
            }

            span {
                font-size: 18px;
                color: #dd2222;
                float: right;
            }
        }
    }

    .primary-btn {
        display: block;
        text-align: center;
        font-size: 20px;
    }
}
